PORT=5000


# no replay mail id 
EMAIL_USER=abc@gmail.com

# email app password for above email id
EMAIL_PASS=aaaa bbbb cccc dddd

# personal mail id to receive contact form messages
PERSONAL_MAIL=jhonny@gmail.com